# Project 5 -- Simrith Ranjan

**TA Help:** N/A
    
**Collaboration:**

## Question 1

In [55]:
import pandas as pd

In [56]:
from pathlib import Path

In [58]:
myDF = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", header = None, names =["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"])

In [59]:
def avg_aggreg_temp(file_location, column_title_list, start_date, end_date, my_element_code = "TAVG" ) -> float:
    myDF = pd.read_csv(file_location, header=None, names=column_title_list)
    myresult = myDF[(myDF['date'] >= start_date) & (myDF['date'] <= end_date) & (myDF['element_code'] == my_element_code)]['value'].mean()
    return myresult

In [60]:
myDF.shape

(370779, 8)

In [61]:
avg_aggreg_temp("/anvil/projects/tdm/data/noaa/1880.csv", ["id","date","element_code","value","mflag","qflag","sflag","obstime"], 18801001, 18801031, 'PRCP')

20.039599721731687

## Question 2

In [80]:
def avg_aggreg_temp_by_year(range_of_years, column_title_list, my_element_code = "TAVG") -> dict:
    mydict = {}
    for myyear in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{myyear}.csv'
        myDF = pd.read_csv(file_location, header=None, names=column_title_list)
        myresult = myDF[(myDF['element_code'] == my_element_code)]['value'].mean()
        mydict[myyear] = myresult
    return mydict

In [81]:
avg_aggreg_temp_by_year(range(1880,1884), ["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"])

{1880: 127.30054644808743,
 1881: 49.00669116954104,
 1882: 58.33541290428501,
 1883: 50.54050116550116}

## Question 3

In [75]:
def avg_aggreg_temp_by_year_and_month(range_of_years, my_month, column_title_list, my_element_code = "TAVG") -> dict:
    mydict = {}
    for myyear in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{myyear}.csv'
        myDF = pd.read_csv(file_location, header=None, names=column_title_list)
        myDF['month'] = pd.to_datetime(myDF['date'], format = '%Y%m%d').dt.month
        myresult = myDF[(myDF['element_code'] == my_element_code) & (myDF['month'] == my_month)]['value'].mean()
        mydict[myyear] = myresult
    return mydict

In [82]:
avg_aggreg_temp_by_year_and_month(range(1880,1884), 7, ["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"])

{1880: 235.09677419354838,
 1881: 200.40793825799338,
 1882: 217.031465093412,
 1883: 212.14209591474244}

## Question 4

In [89]:
def most_qflags_year(range_of_years, qflag, column_title_list) -> int:
    max_qflags_year = range_of_years[0]
    max_qflags_count = 0
    
    for myyear in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{myyear}.csv'
        myDF = pd.read_csv(file_location, header=None, names=column_title_list)
        qflags_count = myDF[(myDF['qflag'] == qflag)].shape[0]
        
        if qflags_count > max_qflags_count:
            max_qflags_count = qflags_count
            max_qflags_year = myyear
    
    return max_qflags_year

Year with most qflags 'D': 1880
Year with most qflags 'G': 1880
Year with most qflags 'I': 1883
Year with most qflags 'K': 1882
Year with most qflags 'L': 1881
Year with most qflags 'N': 1880
Year with most qflags 'O': 1880
Year with most qflags 'S': 1882
Year with most qflags 'X': 1881

In [ ]:
#test aspect
range_of_years = range(1880, 1884)
column_title_list = ["id","date","element_code","value","mflag","qflag","sflag","obstime"]  
qflags_to_test = ['D', 'G', 'I', 'K', 'L', 'N', 'O', 'S', 'X']

for qflag in qflags_to_test:
    year_with_most_qflags = most_qflags_year(range_of_years, qflag, column_title_list)
    print(f"Year with most qflags '{qflag}': {year_with_most_qflags}")

## Question 5

In [110]:
myDF = pd.read_csv("/anvil/projects/tdm/data/noaa/1880.csv", header = None, names =["id", "date", "element_code", "value", "mflag", "qflag", "sflag", "obstime"])

In [112]:
myDF.head()

            id      date element_code  value mflag qflag sflag  obstime
0  AGE00147705  18800101         PRCP      0   NaN   NaN     E      NaN
1  AGE00147708  18800101         PRCP     36   NaN   NaN     E      NaN
2  AGE00147709  18800101         PRCP     36   NaN   NaN     E      NaN
3  AGE00147712  18800101         PRCP      0   NaN   NaN     E      NaN
4  AGE00147713  18800101         TMAX     52   NaN   NaN     E      NaN

In [113]:
def most_values_year(range_of_years, value, column_title_list) -> int:
    '''
    takes in range_of_years, value, column_title_list, and returns the year with the highest value
    '''
    max_value_year = range_of_years[0]
    max_value_count = 0
    
    for myyear in range_of_years:
        file_location = f'/anvil/projects/tdm/data/noaa/{myyear}.csv'
        myDF = pd.read_csv(file_location, header=None, names=column_title_list)
        value_count = myDF[(myDF['value'] == value)].shape[0]
        
        if value_count > max_qflags_count:
            max_value_count = value_count
            max_value_year = myyear
    
    return max_value_year

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.