# Project 1 -- Simrith Ranjan

**TA Help:** N/A
    
**Collaboration:** N/A

## Question 2

In [1]:
print("Hello World!")

Hello World!

## Question 3

In [3]:
num1 = int(input("Enter an integer: "))

Enter an integer:  12

In [4]:
num2 = int(input("Enter an integer: "))

Enter an integer:  13

In [5]:
sum = num1 + num2

In [7]:
print("The sum of the two numbers is:", sum)

The sum of the two numbers is: 25

## Question 4

In [11]:
myfruits = []
for i in range(1,6):
    fruit = input("Enter name of fruit ")
    myfruits.append(fruit)

Enter name of fruit  orange
Enter name of fruit  banana
Enter name of fruit  mango
Enter name of fruit  strawberry
Enter name of fruit  lime

In [12]:
print(myfruits)

['orange', 'banana', 'mango', 'strawberry', 'lime']

## Question 5

In [13]:
import pandas as pd
forest = pd.read_csv("/anvil/projects/tdm/data/forest/ENTIRE_COUNTY.csv")

In [14]:
forest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3250 entries, 0 to 3249
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   STATECD               3250 non-null   int64
 1   UNITCD                3250 non-null   int64
 2   COUNTYCD              3250 non-null   int64
 3   COUNTYNM              3250 non-null   object
 4   CN                    3250 non-null   int64
 5   CREATED_BY            3250 non-null   object
 6   CREATED_DATE          3250 non-null   object
 7   CREATED_IN_INSTANCE   3250 non-null   int64
 8   MODIFIED_BY           1355 non-null   object
 9   MODIFIED_DATE         1355 non-null   object
 10  MODIFIED_IN_INSTANCE  1355 non-null   float64
dtypes: float64(1), int64(5), object(5)
memory usage: 279.4+ KB

In [19]:
forest.shape

(3250, 11)

In [22]:
forest.size

35750

In [20]:
forest.info

<bound method DataFrame.info of       STATECD  UNITCD  COUNTYCD      COUNTYNM              CN     CREATED_BY  \
0          17       1         3     Alexander         1010661       NIMS_DEV
1          17       1        55      Franklin         2010661       NIMS_DEV
2          17       1        59      Gallatin         3010661       NIMS_DEV
3          17       1        65      Hamilton         4010661       NIMS_DEV
4          17       1        69        Hardin         5010661       NIMS_DEV
...       ...     ...       ...           ...             ...            ...
3245       60       1        50  Tutuila West  14424024000440  FS_NIMS_PNWRS
3246       64       1         2         Chuuk  14424025000440  FS_NIMS_PNWRS
3247       64       1         5        Kosrae  14424026000440  FS_NIMS_PNWRS
3248       64       1        40       Pohnpei  14424027000440  FS_NIMS_PNWRS
3249       64       1        60           Yap  14424028000440  FS_NIMS_PNWRS

             CREATED_DATE  CREATED_IN_INSTANCE MODIFIED_BY MODIFIED_DATE  \
0     2002-04-30 10:32:00                10661         NaN           NaN
1     2002-04-30 10:32:00                10661         NaN           NaN
2     2002-04-30 10:32:00                10661         NaN           NaN
3     2002-04-30 10:32:00                10661         NaN           NaN
4     2002-04-30 10:32:00                10661         NaN           NaN
...                   ...                  ...         ...           ...
3245  2013-01-11 18:08:55                  440         NaN           NaN
3246  2013-01-11 18:08:55                  440         NaN           NaN
3247  2013-01-11 18:08:55                  440         NaN           NaN
3248  2013-01-11 18:08:55                  440         NaN           NaN
3249  2013-01-11 18:08:55                  440         NaN           NaN

      MODIFIED_IN_INSTANCE
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
...                    ...
3245                   NaN
3246                   NaN
3247                   NaN
3248                   NaN
3249                   NaN

[3250 rows x 11 columns]>

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.