# Project X -- Simrith Ranjan

**TA Help:** 

- video from TDM 101 page
    
**Collaboration:** Kushal Muthamsetty
    
- We worked across from each other, and helped in finding the links, and what to download

## Question 1

A. 128 cores (per node) * 1000 nodes = 128000 cores in cluster A . 256 GB per node * 1000 nodes = 256000 GB or 256 TB
There are 128,000 cores in cluser A, and 256,000 GB in cluster A.
B. There is 8 GB of memory and 8 cores in my macbook

## Question 2

In [2]:
# The name of the node is "a240.anvil.rcac.purdue.edu" for bash, python, and R.
import socket
print(socket.gethostname())

a249.anvil.rcac.purdue.edu

In [3]:
%%R

system("hostname", intern=TRUE)

[1] "a249.anvil.rcac.purdue.edu"

In addition: Warning message:
In (function (package, help, pos = 2, lib.loc = NULL, character.only = FALSE,  :
  library ‘/usr/local/lib/R/site-library’ contains no packages

In [4]:
%%bash

hostname

a249.anvil.rcac.purdue.edu

In [5]:
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

The name of the node is "a240.anvil.rcac.purdue.edu" for bash, python, and R.

## Question 3

In [6]:
import pandas as pd
df = pd.read_csv('/anvil/projects/tdm/data/flights/subset/1991.csv')
df[df["Month"]==12].head() # see information about a few of the flights from December 1991

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
4657380,1991,12,29,7,1631.0,1630,1829.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657381,1991,12,30,1,1630.0,1630,1823.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657382,1991,12,31,2,1628.0,1630,1820.0,1828,UA,1770,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657383,1991,12,1,7,1922.0,1922,2040.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4657384,1991,12,2,1,2005.0,1922,2119.0,2045,UA,1774,...,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [7]:
%sql sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db

In [8]:
%%sql

-- see information about a few TV episodes called "Finale"
SELECT *
FROM episodes AS e
INNER JOIN titles AS t
ON t.title_id = e.episode_title_id
WHERE t.primary_title = 'Finale'
LIMIT 5;

 * sqlite:////anvil/projects/tdm/data/movies_and_tv/imdb.db
Done.

[('tt0506978', 'tt0285332', 1, 22, 'tt0506978', 'tvEpisode', 'Finale', 'Finale', 0, 2002, None, None, 'Drama,Thriller'),
 ('tt0519805', 'tt0210405', 3, 10, 'tt0519805', 'tvEpisode', 'Finale', 'Finale', 0, 1993, None, None, 'Drama'),
 ('tt0566236', 'tt0169438', 8, 31, 'tt0566236', 'tvEpisode', 'Finale', 'Finale', 0, 2005, None, None, 'Drama,Sport'),
 ('tt0566422', 'tt0111945', 9, 26, 'tt0566422', 'tvEpisode', 'Finale', 'Finale', 0, 2004, None, None, 'Comedy,Drama'),
 ('tt0581864', 'tt0044263', 2, 1, 'tt0581864', 'tvEpisode', 'Finale', 'Finale', 0, 1953, None, 30, 'Comedy,Crime,Drama')]

In [9]:
%%bash

names="John Doe;Bill Withers;Arthur Morgan;Mary Jane;Rick Ross;John Marston"
echo $names | cut -d ';' -f 3
echo $names | cut -d ';' -f 6

Arthur Morgan
John Marston

## Question 4

In [10]:
1000*256*1000000000

256000000000000

A. 100 times 256 times 1000000000 bytes

A Gigabyte is 1,000,000,000 bytes. So 256,000,000,000,000/1,000,000,000 = 256,000 GB. Since a Terabyte is 1,000 Gigabytes, it is 256 TB.

In [12]:
%%R
1000*256*1000000000

#256 TB

[1] 2.56e+14

## Question 5

In [ ]:
%%R

dat <- read.csv("/anvil/projects/tdm/data/disney/flight_of_passage.csv")

In [ ]:
%%R

head(dat)

In [ ]:
%%R

flight_of_passage <- dat

In [ ]:
%%R

head(flight_of_passage)

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.